.node {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  background-color: rgb(64, 65, 66);
  border: 3px solid rgb(255, 97, 110);
  border-radius: 10px;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  user-select: none;
  z-index: 10;
  transition: border ease 0.2s, box-shadow ease 0.2s;
  width: 340px;
  height: 140px;
}

.nodeSelected {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  background-color: rgb(64, 65, 66);
  border: 3px solid rgb(255, 97, 110);
  outline: 8px solid #6d6b68c5;
  border-radius: 10px;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  user-select: none;
  z-index: 100;
  transition: border ease 0.2s, box-shadow ease 0.2s;
  width: 340px;
  height: 140px;
}
.bgNode {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  background-color: rgb(64, 65, 66);
  border: 3px solid rgb(255, 97, 110);
  border-radius: 10px;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  user-select: none;
  z-index: 1;
  transition: border ease 0.2s, box-shadow ease 0.2s;
  width: 340px;
  height: 200px;
}
